body {
  font-family: arial; 
}

textarea {
  padding: 6px;
}

form {
  border: 1px solid silver; 
  padding: 3px; 
  background: #fafafa; 
  margin-bottom: 0px; 
  width: 100%
}

A:link {text-decoration: none; color: blue;}
A:visited {text-decoration: none; color: blue; }
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: red;}  

#map3d_container {
  position: relative; 
  border: 1px solid silver; 
  width: 640px;
  height: 480px;
}

#map3d {  
  height: 100%; 
  width: 100%;
  position: absolute; 
  z-index: 10; 
}

.button { background-color: #D0D0D0; cursor: pointer; }
.button:link { background-color: #D0D0D0; cursor: pointer; }
.button:hover { background-color: #B0B0FF; cursor: pointer; }
.button:active { background-color: #FFB0B0; cursor: pointer; }
.medw { width: 80px; }
.wide { width: 120px; }
.narrow { width: 40px; }

.title {
  width: 800px;
  font-family: Impact;
  font-size: 50pt;
}

.subtitle {
  width: 280px;
  font-family: Impact;
  font-size: 23pt;
}

.textgroup {
  width: 280px;
  font-family: Arial;
  font-size: 18pt;
}

.resultsgroup {
  width: 350px;
  font-family: Arial;
  font-size: 12pt;
}

#title {
  font-weight: bold;
  font-size: 16pt;
}

#subtitle {
  font-weight: normal;
  font-size: 12pt;
}
